@import "nib"
@import "normalize.styl"
@import "fonts.styl"

gris_claro = #cecece  
girs_oscuro = #333333
azul_face = #3d5998
azul_border = #3D4F8C
azul_twi = #60a9de
border_registro = #ac285f
boton_registro = #D0285F
gris_mas_claro = #F0F0F0

body
	font-family 'Varela Round', sans-serif
	font-size 16px 
a
	text-decoration none
figure
	margin 0
	padding 0
img 
	vertical-align top 
.center
	text-align center
.color_white
	color white
.padding
	padding 1em
.padding-tb
	padding 1em 0
.text_right
	text-align right
.wrap
	width 1000px
.center_block
	margin 0 auto
.left
	float left
.right
	float right	
/*Estilos playing*/
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size 0.8em
		bottom -5px
		position absolute
	.min
		left 0
	.max
		right 0
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 2px
		margin 0 auto 
	.state
		height 5px
		background red
		position relative
		width 30% 
		border-radius 2px
		animation 120s state infinite linear
	.circle
		width 10px
		height 10px
		border-radius 50%
		background girs_oscuro
		right 0
		top -2px
		position absolute
		animation 1s circle infinite
@keyframes state
	0%
		width 0
	100%
		width 100%

@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0

.playing 
	&.small
		width 20em
		margin 0 auto
.actions
	background rgba(black, .3)
	bottom 0
	left 0
	right 0
.action
	color white
	font-size 1.3em
	padding-right 1em
	&:last-child
		padding-right 0
.play 
	.action
		color black 
.height
	height 26em 

.playlist
	display none
	width 22em
	border-left 1px solid gris_claro
	padding 0 2em
	.list
		list-style none
		.item 
			padding 1em 0
		.action
			font-size .9em

.logos
	display none
	overflow hidden 
	padding 1.3em 0
	.isotipo_header
		width 220px
		height 49px
	.search 
		width 15em
		background white 
		.input_search
			width 13em
			height 2em
			border-radius 3px
			border 1px solid gris_claro
			padding-left 1.7em
		.icon-search
		.icon-x
			top 20px
			color gris_claro
		.icon-search
			left 10px
		.icon-x
			right 10px
	figure
		.avatar					
			border-radius 50%
			margin-left 1em
			margin-right .5em 
	.username 
		color gris_claro
		position relative
		top 18px
		margin-left .5em 
		&:after
			content ""
			border-top 10px solid gris_claro
			border-right 9px solid transparent 
			border-left 9px solid transparent 
			display inline-block
			margin 0 .5em
// Estilos Log in //
.big
	width 16em
	border-radius 2px
	border 1px solid gris_claro
	height 2.8em
	margin 1em auto
	padding-left 2em
	font-size 1em
.inputs
	width 20em
	margin 1em auto
.color
	background boton_registro
	border none
	border-radius px 
	border-bottom 4px solid border_registro 
.gris
	color gris_claro

.small_login
	width 30em
	height auto
.escucha
	margin 0
.login 
	margin 0
	padding 0
	display none
	.cabecera
		color white 
		margin 0  
		height 23em
		.img_title 
			top 2em
			left 0
			right 0
			.image_login 
				margin 1 auto	
			.title_login  
				font-size 1.5em  
				margin 1em auto		
			.bottom_facebock
			.bottom_twitter
				display block
				border-radius 3px
				color white  
				width 17em 
				line-height 4em
				margin 1em auto  
			.bottom_facebock 
				background azul_face
				padding-left 20px
				margin-top 4em
				border_buttom 2px solid azul_border
			.bottom_twitter 	
				background azul_twi
				padding-left 10px
				padding-right 10px
			.icon-facebook
			.icon-twitter			
				font-size 1.8em
				left 10px
				top 17px
				padding-right 10px
			.icon-facebook
				border-right 1px solid girs_oscuro
			.icon-twitter
				border-right 1px solid gris_claro 
	.buttoms_ingreso
		margin 1em 0
		line-height 3em 
		.sig_in
			margin-right 2em 
			text-decoration underline
		.account 
			margin-left 2em 
			text-decoration underline
	.form_lo
		border-top 2px solid gris_claro
		height auto
		margin-bottom 1em 
		.input 
			display block
		.user
		.contra
		.recontra
		.contra1
			left 1.7em 
		.user
			top .9em 
		.email
			top 5em
			left 1.4em
		.contra 
			top 5em 
		.contra1
			top 9.1em
		.recontra
			bottom 7em
		.boton
			color white
			width 18em
			height 3em
			padding-left 0



// Estilos del Play List //	
.container 
	padding 1.4rem
	font-size 0 
	display none
	text-align center 
.left
	text-align left
.name
	color gris_oscuro
	font-size 1.2em
.author
	font-size 1.1em
	color gris_claro
.song
	widht 8rem
	font-size 1rem 
	display inline-block
	margin-right 1em
	margin-bottom 1em
	text-align left
	&:nth-child(even)
		margin-right 0
.menu
	display none
.absolute
	position absolute
.relative
	position relative

//buttoms
.button_menu
	font-size 1.3em
	color girs_oscuro
	top 0.9em
	margin-left 1.6em

.border_buttom
	border-bottom 2px solid gris_claro

//OOCSS
.header 
	width auto
	height auto
	.search
		text-align center 
		line-height 3.5em 
		margin 0
	.title
		font-size 1.1em 
		margin 0
		width 100%
		display block 
		text-align center
		line-height 3.5em	

@media screen and (min-width:480px) 

	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img 
			width 100% 
		.isotipo_log
			width 220px
			height 49px
	.playing
		&.medium
			width auto 
	.image
		.logo
			height 26em
	.medium_login
		width auto  

@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	.list
		padding-left 0
	.header
		background white
		border-bottom none
		width auto
		.button_menu
		.title
			display none
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		border-top 1px solid gris_claro
		border-top 1px solid gris_claro
		.item
			float left
			display inline-block
			a
				text-decoration none
				padding 1em
				display block
				border-top 5px solid transparent
				transition .3s border-top
				text-transform uppercase
				color girs_oscuro
				&:hover
					border-top 5px solid girs_oscuro

	.playing
		padding-top 1.3em
		&.large
			width 62.5em
			margin 0 auto
			overflow hidden
	.music
		width 32.5em
		float left
		.name
		.author
			display none	
	.image
		img
			width 100%
	.cabecera
		width auto 
	.playlist
	.logos
		display block